@import "../../style/global.scss";
@import "../../style/mixins.scss";

.gw2Background {
  width: 100%;
  min-height: $contentMinHeight;

  // For Darkmode
  &--dark {
    background: map-get($map: $dark-mode, $key: colorBackground);
    background-repeat: repeat;

    & .gw2Container {
      &__header {
        color: map-get($map: $dark-mode, $key: colorText);
      }
      &__table__wing h3 {
        color: white;
      }
    }
  }
}

.gw2Container {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 1rem;

  &__table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 15px;

    margin-top: 20px;
    padding: 10px 0;

    &__wing {
      padding: 0 5px;
      text-align: center;
      margin-bottom: 20px;

      & h3 {
        font-family: "Josefin Sans";
      }
      &--blank {
        width: 428.52px;
      }
    }
  }
}
