@import "../../style/global.scss";
@import "../../style/mixins.scss";

.gw2Background {
  width: 100%;
  min-height: $contentMinHeight;

  // For Darkmode
  &--dark {
    background: map-get($map: $dark-mode, $key: colorBackground);
    background-repeat: repeat;

    & .gw2Container {
      &__header {
        color: map-get($map: $dark-mode, $key: colorText);
      }
      &__table__wing h3 {
        color: white;
      }
    }
  }
}

.gw2Container {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 1rem;

  &__inputAPIKey {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    &__textField {
      width: 100%;
      max-width: 400px;
      padding: 0 5px;

      border: solid 2px grey;
      border-right: 0;
      border-radius: 10px 0 0 10px;
      transition: all 0.2s ease-in-out;
      font-weight: 500;
      font-family: "Noto Sans";

      &:focus-visible {
        outline: none;
        border: solid 2px $colorPrimary;
        transform: scale(105%);
      }
    }

    &__showButton {
      padding: 0 5px;
      border: solid 2px grey;
      border-right: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      background-color: white;

      &:hover {
        transform: scale(110%);
        color: $colorPrimary;
        z-index: 2;
      }
    }

    &__button {
      border: solid 2px grey;
      border-radius: 0 10px 10px 0;
      padding: 0 5px;
      background-color: $colorPrimary;
      color: white;
      font-weight: 500;
      font-family: "Noto Sans";
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(110%);
      }
    }
  }

  &__table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 15px;

    margin-top: 20px;
    padding: 10px 0;

    &__wing {
      padding: 0 5px;
      text-align: center;
      margin-bottom: 20px;

      & h3 {
        font-family: "Josefin Sans";
      }
      &--blank {
        width: 428.52px;
      }
    }
  }
}
