@import "../../style/global.scss";

.thesBackground {
  width: 100%;
  min-height: $contentMinHeight;

  // For Darkmode
  &--dark {
    & .thesContainer {
      &__header {
        color: map-get($map: $dark-mode, $key: colorText);
      }
    }
  }
}

.thesContainer {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 1rem;

  &__header {
    color: white;
    font-family: "Noto Sans";
  }

  &__table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-top: 20px;
  }
}
