@import "../../style/global.scss";

.thesBackground {
    width: 100%;
    height: calc(100vh - $navbarHeight);
    background-color: map-get($map: $light-mode, $key: colorBackground);

    &--dark {
        background: map-get($map: $dark-mode, $key: colorBackground);
        background-repeat: repeat;
    }
}

.thesContainer {
    z-index: 1;
    width: 100%;
    height: 100%;
}