@import "../../style/global.scss";

.Navbar {
    display: flex;
    flex-direction: row;

    align-items: center;
    padding: 0 16px;

    width: 100%;
    height: 56px;

    background: #f8f8f8;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);

    & :first-child {
        margin-right: 10px;
    }

    & a {
        height: 34px;
        display: flex;
        align-items: center;
    }

    &__image {
        height: 100%;
        object-fit: cover;
    }

    &__menu {
        font-size: 1.25rem;
        font-weight: 500;
        font-style: normal;

        margin-left: 15px;

        &:hover {
            color: $colorPrimary;
        }

        &.current {
            color: $colorPrimary;
            font-weight: 700;
        }
    }
}