// Colors
$colorPrimary: #1a5ca2;

$light-mode: (
  linkBackground:
    url("https://r4.wallpaperflare.com/wallpaper/965/708/63/texture-abstract-blue-cyan-wallpaper-83ffd747ae4257c4d6eaead474ed0f5a.jpg"),
  colorContainer: #f8f8f8,
  colorText: black,
  colorNavbar: #f8f8f8,
);

$dark-mode: (
  linkBackground:
    url("https://r4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-08869d3810a06c28a09cf1be487204ea.jpg"),
  colorContainer: lighten(#121212, 10%),
  colorNavbar: lighten(#121212, 5%),
  colorText: white,
);

// Sizes
$navbarHeight: 56px;
$footerHeight: 30px;
$contentMinHeight: calc(100vh - $navbarHeight - $footerHeight);

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
