// Colors
$colorPrimary: #1a5ca2;

$light-mode: (
  colorBackground: #f8f8f8,
  colorContainer: #f8f8f8,
  colorText: black,
  colorNavbar: #f8f8f8,
);

$dark-mode: (
  colorBackground: url("../../ressources/backgroundPatternDark.png"),
  colorContainer: lighten(#121212, 10%),
  colorNavbar: lighten(#121212, 5%),
  colorText: white,
);

// Sizes
$navbarHeight: 56px;
$footerHeight: 30px;
$contentMinHeight: calc(100vh - $navbarHeight - $footerHeight);

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
