@import "../../style/global.scss";
@import "../../style/mixins.scss";

.projectBackground {
  width: 100%;
  min-height: $contentMinHeight;

  // For Darkmode
  &--dark {
    & .projectContainer {
      &__header,
      &__description,
      &__technologies,
      &__projects h2,
      &__projects p {
        color: map-get($map: $dark-mode, $key: colorText);
      }
    }
  }
}

.projectContainer {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 1rem;

  & > :not(:first-child) {
    margin-top: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Josefin Sans";
    color: white;
    & h1 {
      text-shadow: 3px 5px 2px #474747;
    }

    & p {
      background-color: rgba($color: #000000, $alpha: 0.4);
      padding: 3px 10px;
      border-radius: 5px;
      border: 1px solid rgba($color: #000000, $alpha: 0.4);
      text-align: center;
    }
  }

  &__description {
    font-family: "Noto Sans";
    font-weight: 500;
    line-height: 26px;
    text-align: justify;
    color: white;
  }

  &__technologies {
    font-family: "Noto Sans";
    font-weight: 500;
    color: white;
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & li {
        width: 30%;
        margin-bottom: 5px;

        @include for-size(mobile) {
          width: 50%;
        }
      }
      list-style: "-    ";
    }
  }

  &__projects {
    & h2 {
      font-family: "Noto Sans";
      color: white;
    }
    & p {
      font-family: "Noto Sans";
      font-weight: 500;
      color: white;
    }
    &__table {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      margin-top: 20px;

      // Change ratio to 16/9 to fit with images
      & .card a img {
        aspect-ratio: 16/9;
      }
    }
  }
}
